<div class='diagram-slide-content{{#fullSize}} full-size{{/fullSize}}'>
    <div class='diagram-container' onclick="toggleDiagramZoom(this)">
        <div class='diagram-zoom-hint'>
            <i class='fas fa-search-plus'></i>
            <span>Click to zoom</span>
        </div>
        {{diagramContent}}
    </div>
    {{#hasBullets}}
    <div class='diagram-bullets'>
        <button class='diagram-bullets-close' onclick="toggleDiagramBullets(this.parentElement)">
            <i class='fas fa-times'></i>
        </button>
        {{bulletsHtml}}
    </div>
    <button class='diagram-bullets-toggle' onclick="toggleDiagramBullets(this.previousElementSibling)">
        <i class='fas fa-sticky-note'></i>
    </button>
    {{/hasBullets}}
</div>
